@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins.scss' as *;

* {
    // border: 1px dotted red;
    box-sizing: border-box;
}

#add-comment-form-errors {
    height: 1rem;
    margin: 0px;
}

.comment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px $Mercury solid;
    margin: 0px 16px 0px 16px;

    &--posted {
        padding-bottom: 16px;
    }


    &__picture {
        padding-right: 16px;

        &--icon {
            display: block;
            height: 2.25rem;
            width: 2.25rem;
            background-color: $Mercury;
            border-radius: 50%;
            position: relative;
            top: 21px;

            &--mohan {
                background-image: url("../../../assets/images/Mohan-muruge.jpg");
                background-size: cover;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &--label {
            font-size: 0.625rem;
            line-height: 1.25rem;
            color: $Silver;
        }

        &--field {
            border: 1px solid $Mercury;
            color: $BrainFlix-Black;
            padding: 9px;
            margin-bottom: 16px;
            background-color: $Alabaster;
            border-radius: 4px;
            font-size: 0.8125rem;
            line-height: 1.125rem;
            width: 100%;

            &::placeholder {
                color: $BrainFlix-DarkBlack;
                opacity: 1;
            }

            &--comment {
                padding-bottom: 50px;
                margin-bottom: 0px;
            }
        }
        
        &--button {

            &--content {
                position: relative; 
                width: 100%;
                background-color: $BrainFlix-Blue;
                display: flex;
                min-height: 2.25rem;
                align-items: center;
                padding: 0 10px; 
                margin-top: 16px;
                border-radius: 4px;
                border: none;
                color: $White;

            &--icon {
                height: fit-content;
                margin-right: 50px; 
                height: 1.25rem;
                width: 1.25rem;

            }
            }
            
        }

        &--bottom {
            display: flex;
            height: fit-content;

            &--error {
                display: flex;
                width: 50%;
                font-size: 0.625rem;
                line-height: 1.25rem;
            }

            &--clear {
                display: flex;
                width: 50%;
                margin: 0px;
                justify-content: flex-end;
                font-size: 0.625rem;
                line-height: 1.25rem;
                color: $Silver;
                border: none;
                background-color: $White;
            }
        }

    }

    @include tablet {
        padding: 16px 0px 0px 0px;
        margin-right: 32px;
        margin-left: 32px;

        &--posted {
            padding-bottom: 16px;
        }

        &__picture {
            &--icon {
                height: 3rem;
                width: 3rem;
            }
        }

        &__form {
            padding-top: 6px;

            &--label {
                font-size: 0.75rem;
                line-height: 1.25rem;
            }

            &--field {
                font-size: 0.875rem;
                line-height: 1.375rem;
                margin-right: 24px;

                &--comment {
                    padding-bottom: 0px;
                    height: 2.8125rem;
                }

                &--tablet {
                    display: flex;
                }
            }

            &--button {
                display: flex;

                &--content {
                    width: auto;                    
                    flex-grow: 1;
                    font-size: 0.75rem;
                    padding-right: 10px;
                    position: relative;
                    margin-top: 0px;
                    
                    &--icon {
                        height: 1.125rem;
                        width: 1.125rem;
                    }
                }
            }
        }
    }

    @include desktop {
        padding: 16px 0px 0px 0px;
        margin-right: 0px;

        &--posted {
            padding-bottom: 16px;
        }

        &__form {
            padding-right: 32px;

            &--button {
            padding-top: 8px;
            padding-bottom: 8px;
            }

            &--content {
                width: 35%;
            }
            }
        }   
}


.posts {
    display: flex;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $BrainFlix-Black;
        font-size: 0.8125rem;
        line-height: 1.125rem;


        &--name {
            margin-bottom: 5px;
        }

        &--date {
            color: $Silver;
            margin-bottom: 5px;
        }
    }

    &__content {
        font-size: 0.8125rem;
        line-height: 1.125rem;

        &--inside {
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }

    @include tablet {
        padding-bottom: 27px;

        &__info {
            font-size: 0.875rem;
            line-height: 1.375rem;

        }

        &__content {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
}