@use '../../../styles/partials/variables.scss' as *;
@use '../../../styles/partials/mixins.scss' as *;

* {
    border: 1px dotted red;
    box-sizing: border-box;
}

.nav-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 16px;

    &__search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 16px;

        &--box {
            width: 82%;
            border-radius: 5px;
            height: 36px;
            border: 1px solid $Silver;
        }
        
    }

    &__picture1 {
        height: 36px;
        width: 36px;
        background-image: url("../../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        border-radius: 50%;
    }
    &__picture2 {
        display: none;
        height: 36px;
        width: 36px;
        background-image: url("../../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        border-radius: 50%;
    }

    &__upload {

        &--button {
            position: relative; 
            width: 100%;
            background-color: $BrainFlix-Blue;
            display: flex;
            min-height: 36px;
            align-items: center;
            padding: 0 10px; 
            margin-top: 16px;
            border-radius: 5px;

            &--icon {
                height: fit-content;
                margin-right: 8px; 
                height: 20px;
                width: 20px;
            }

            &--upload {
                position: absolute; 
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%); 
                margin: 0; 
                color: $White;
            }
        } 

    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        height: 70px;

        &__logo {
            align-content: center;
        }
        &__right {
            display: flex;
            flex-direction: row;
            align-items: end;
        }

        &__upload {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-evenly;
            &--button {
                width: 150px;
                margin-right: 16px;
            }
        }

        &__picture1 {
            display: none;
        }

        &__picture2 {
            display: flex;
            height: 42px;
            width: 42px;
        }
    }
}