@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins.scss' as *;

* {
    // border: 1px dotted red;
    box-sizing: border-box;
}

.video-details {
    padding: 16px;

    &__title {

        &--text {
            font-size: 24px;
            line-height: 32px;
            margin: 0px;
            padding-bottom: 16px;
        }   
    }

    &__info {
        display: flex;
        border-top: 1px $Mercury solid;
        border-bottom: 1px $Mercury solid;
        padding: 16px 0px 16px 0px;

        &--left {
            padding-right: 32px;

            &--channel {
                font-size: 14px;
                margin: 0px;
                padding-bottom: 12px;
            }

            &--date {
                font-size: 14px;
                margin: 0px;
                color: $Silver;
            }
        }

        &--right {

            &--views {
                font-size: 14px;
                color: $Silver;
                padding-bottom: 12px;
                display: flex;

                &--icon {
                    padding-right: 8px;
                }
            }

            &--likes {
                font-size: 14px;
                color: $Silver;
                display: flex;

                &--icon {
                    padding-right: 8px;
                }
            }
        }
    }

    &__description {
        font-size: 13px;
        line-height: 18px;
        padding-top: 16px;
    }

    @include tablet {
        padding: 32px;

        &__title {

            &--text {
                font-size: 33px;
                line-height: 44px;
            }
        }

        &__info {
            justify-content: space-between;
            border-top: none;
            padding: 0px;

            &--left {
                display: flex;

                &--channel {
                    padding-right: 32px;
                }
            }

            &--right {
                display: flex;

                &--views {
                    padding-right: 32px;
                }

                &--likes {

                    &--icon {
                        height: fit-content;
                    }
                }
            }
        }

        &__description {
            font-size: 14px;
            line-height: 22px;
        }
    }
}