@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;



.bottom-half {
  display: flex;
  flex-direction: column;
  

  @include desktop {
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;

    &__left {
      width: 75%;
      border-right: 1px solid $Mercury;
    }

    &__right {
      width: auto;

    }
  }
}

